/* Box sizing */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML */
html {
  scroll-behavior: smooth;
}

/* Body */
body {
  min-height: 100vh;
  overflow-x: hidden;
}

/* Media */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Form */
input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
}

/* Button */
button {
  cursor: pointer;
  background: none;
}

/* Link */
a {
  text-decoration: none;
  color: inherit;
}

/* List */
ul,
ol {
  list-style: none;
}